.product-card {
    background-color: darkcyan;
    color: aliceblue;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    border-radius: 15px;
    width: 100%;
    /* height: 200px; */
}
